body {
    font-family: Arial;
}

.page {
    margin: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    padding: 10px;
    color: white;
}
.menu, .login {
    margin-left: 20px;
}

.menu a, .login a {
    color: white;
    text-decoration: none;
}

.search-bar {
    margin: 20px 0;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.categories a {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.content h1 {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.content ul {
    list-style-type: none;
    padding: 0;
}

.content ul li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.content ul li a {
    text-decoration: none;
    color: #333;
}
